.row
  .span12
    %h1 How it works?
    %br
    %ul.thumbnails
      %li.span4
        .thumbnail
          =image_tag "how_it_works/how_it_works_1.jpg", :height => '300', :width => '400'
          .caption
            %h3 Teams work on open source web applications
            %p
              %ul
                %li
                  RFC members work on different open source projects.
                %li
                  They collaborate and share ideas, code and help each other out.
                %li
                  Friendly competition among the teams.
                %li
                  Use agile methodologies.
                %li
                  Iterate continuously.
                %li
                  Reshuffle teams.

      %li.span4
        .thumbnail
          =image_tag "how_it_works/how_it_works_2.jpg", :height => '300', :width => '400'
          .caption
            %h3 Teams deploy, manage, test, market and maintain the web applications
            %p
              %ul
                %li
                  All the applications are open sources and managed and maintained by the community.
                %li
                  Members collaboratively build the requirements.
                %li
                  Members build the applications.
                %li
                  Members test the applications.
                %li
                  Conflicts are resolved through a democratic process.
                %li
                  Each member is equivalent to a board member having the power of one vote.
                %li
                  Members who worked more on a project have a higher say in that project.
                %li
                  Members evangelize and market the projects.

      %li.span4
        .thumbnail
          =image_tag "how_it_works/how_it_works_3.jpg", :height => '300', :width => '400'
          .caption
            %h3 Uniting charities and technology across the world
            %p
              %ul
                %li
                  Share learnings and resources from different projects.
                %li
                  Code sharing and reuse. Open sourced, MIT licenced code can be reused by one and all.
                %li
                  Connect different charities with similar problems across the world
                  encouraging collaboration and bonhomie, bridging cultural differences and increasing
                  people to people contact. Bring world peace!
