.row
  .span12
    %h1 Supporters
    %br
    %ul.thumbnails
      %li.span4
        .thumbnail
          =image_tag "supporters/laborvoices_500x131.jpg", :height => '131', :width => '500'
          .caption
            %h3 Labor Voices
            =link_to_blank 'http://laborvoices.com/'

      %li.span4
        .thumbnail
          =image_tag "supporters/no_red_ink.png", :height => '200', :width => '300'
          .caption
            %h3 No Red Ink
            =link_to_blank 'http://noredink.com/'

      %li.span4
        .thumbnail
          =image_tag "supporters/heyimagine-carre.jpg", :height => '200', :width => '300'
          .caption
            %h3 Hey Imagine!
            =link_to_blank 'http://hey-imagine.com/'
