.span12
  .span8.offset1
    %h2.heading
      %span.slash //
      About Us
    %br
    =image_tag 'pk.png'
    %br
    %br
    %h3 Pratik Khadloya (Founder)
    %p Pratik strives to make the world a better place to live, wipe out all the evils in society and help build a better tomorrow. His weapon of choice to achieve that end is web technology. He aims to build web applications which help the humanity and are self sustainable.
    %br
    =image_tag 'vm.png'
    %br
    %br
    %h3 Vinti Maheshwari (Co-founder)
    %p Vinti is an eternal optimist and has an extremely positive attitude towards life. She is a spiritualist, an avid speaker and motivator. She is especially known to get the most out of the situation when the odds are against you. You would never hear a ‘no’ from her for any task, no matter how difficult it is.
