%title RailsforCharity / Contact
%h1.thin
  Contact us  
  %br/
  %br/
%table
  %tr
    %td.min600
      Thanks for getting in touch. We will get back to you within a few hours.
    %td
      %table
        %tr
          %td=email_image
          %td
            %a{:href => "mailto:info@railsforcharity?Subject=Contact%20form"} info@railsforcharity.com
        %tr
          %td=skype_image
          %td Pratik Khadloya
        -# %tr
        -#   %td= link_to image_tag("https://s3-ap-southeast-1.amazonaws.com/tracksgivingstatic/contact/facebook.png"), "http://www.facebook.com/railsforcharity"
        -#   %td= link_to "http://www.facebook.com/railsforcharity", "http://www.facebook.com/railsforcharity"