.container-fluid
  .row-fluid
    .faq-container
      .page-title
        %h2 Frequently Asked Questions
        %br
      %form.faq-search
        %input{:type=>'text', :name=>'search', :placeholder=>'Search By Keyword'}
      .faq-toc  
        %ol
          %li
            =link_to "What is the Rails for Charity vision?", '#faq-1'
          %li
            =link_to "Inspiration behind Rails for Charity?", '#faq-2'
          %li
            =link_to "What is Open Source projects and its licence?", '#faq-3'
          %li
            =link_to "Whom do we need?", '#faq-4'
          %li
            =link_to "Why can't we just post and add on our requirements and get people work on their ideas?", '#faq-5'
          %li
            =link_to "What is the benifits for us to join Rails for Charity community?", '#faq-6'
          %li
            =link_to "How will we manage money issues?", '#faq-7'
          %li
            =link_to "Are we open to work with NGO's?", '#faq-8'
          
      %ol.faq-list
        %li#faq-1
          .faq-icon
            .faq-number 1
          .faq-text
            %h4 What is the Rails for Charity vision?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).
        %li#faq-2
          .faq-icon
            .faq-number 2
          .faq-text
            %h4 Inspiration behind Rails for Charity?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).       
        %li#faq-3
          .faq-icon
            .faq-number 3
          .faq-text
            %h4 What is Open Source projects and its licence?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).
        %li#faq-4
          .faq-icon
            .faq-number 4
          .faq-text
            %h4 Whom do we need?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).                   
        %li#faq-5
          .faq-icon
            .faq-number 5
          .faq-text
            %h4 Why can't we just post and add on our requirements and get people work on their ideas?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).
        %li#faq-6
          .faq-icon
            .faq-number 6
          .faq-text
            %h4 What is the benifits for us to join Rails for Charity community?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).       
        %li#faq-7
          .faq-icon
            .faq-number 7
          .faq-text
            %h4 How will we manage money issues?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).
        %li#faq-8
          .faq-icon
            .faq-number 8
          .faq-text
            %h4 Are we open to work with NGO's?
            %p The most reliable way is to configure the server to send out a redirection instruction when the old URL is requested. Then the browser will automatically get the new URL. This is the fastest and most efficient way, and is the only way described here that can convince indexing robots to phase out the old URL. For configuration details consult your server admin or documentation (with NCSA or Apache servers, use a Redirect statement in .htaccess).                               