.home
  <!-- Content -->
  <!-- Landing Page -->
  #landingPage.container
    #main-nav.row.clearfix
      .pull-left
        =link_to image_tag("icons/railsforcharity.png"), root_path
        %h1 Rails for Charity
        %p Open Source Web Based Applications
      .clearfix
        %a#home-link.globule.span2.blue{:href => root_path + '#mission'}
          .glob-outline
            .glob-bg
            .glob-icon
          .section_name Mission
        %a#portfolio-link.globule.span2.yellow{:href => root_path + '#methodology'}
          .glob-outline
            .glob-bg
            .glob-icon
          .section_name Methodology
        %a#resume-link.globule.span2.red{:href => root_path + '#how_it_works'}
          .glob-outline
            .glob-bg
            .glob-icon
          .section_name How RFC Works?
        %a#contact-link.globule.span2.green{:href => root_path + '#supporters'}
          .glob-outline
            .glob-bg
            .glob-icon
          .section_name Supporters
  %div#content
    #mission.block.blue
      .glow
        .container
          .row
            .span12
              .span10
                %h1 Mission
                %p To build open source web based applications which help in improving the society.
                %br
              .span10
                %h2 Motive
                %br
                %ol
                  %li We want to incubate, foster, develop, mentor and support web based software projects which could potentially have a social impact.
                  %br
                  %li We want to fix the social problems that surround us through the use of our skills (Technology) and give something back to the society.
                  %br
                  %li Provide a platform for people to share/pitch their social impacting ideas, get help and be helped for achieving their goals.
                  %br
                  %li Many people work tirelessly to bring about a change they want, but these efforts are localized and individualistic (person or company) with little collaboration and sharing of knowledge & resources. So, we want to provide a single place for all such people  to collaborate and grow together faster. In short provide a platform for people who help others.
                  %br
                  %li We want to make Silicon Valley the starting point for such a unique open source initiative.
                %br
    #methodology.block.red
      .glow
        .container
          .row
            .span12
              .span10
                %h1 Methodology
                %br
                %ol
                  %li Anyone who has an idea would pitch.
                  %br
                  %li Members of RalsforCharity will vote on each idea and form teams to work on those ideas.
                  %br
                  %li The code will be open sourced. Friendly competition among the teams.
                  %br
                  %li Build a working version 0.1 in 2 weeks
                  %br
                  %li Deploy on heroku (heroku.com)
                  %br
                  %li Meet again, get feedback & assimilate new members into the picture
                  %br
                  %li Iterate continuously & get Beta out in 2 months.
                  %br
                  %li Spread the word.
                  %br
                  %li Monitor user engagement.
                  %br
                  %li Reshuffle teams...
                  %br
                  %li Keep iterating...
                  %br
              .span10
                %h3 Who can contribute?
                %br
                %p Artists, Businessmen, Designers, Developers, Editors, Evangelists, Marketing, Sales, Lawyers, Writers, QA, etc...
                %p In short, anyone who can and want to contribute.
                %br
                %br
    #how_it_works.block.yellow
      .glow
        .container
          .row
            .span12
              .span12
                %h1 How RFC works?
                = render 'how_it_works'
                %br
                %br
    #supporters.block.green
      .glow
        .container
          .row
            .span12
              .span12
                %h1 RFC Supporters
                = render 'supporters'


