%div#content
  .hero.block
    .glow
      .container
        .row
          .span3.offset1
            =image_tag("icons/railsforcharity.png")
          .span8
            %h1 Rails for Charity
            %p Open Source Web Based Applications

  .block
    .glow
      .container
        .row
          .span12
            %h1 Mission
            %p To build open source web based applications which help in improving the society.
            %br
          .span12
            %h1 Motive
            %p
              %ol
                %li We want to incubate, foster, develop, mentor and support web based software projects which could potentially have a social impact.
                %br
                %li We want to fix the social problems that surround us through the use of our skills (Technology) and give something back to the society.
                %br
                %li Provide a platform for people to share/pitch their social impacting ideas, get help and be helped for achieving their goals.
                %br
                %li Many people work tirelessly to bring about a change they want, but these efforts are localized and individualistic (person or company) with little collaboration and sharing of knowledge & resources. So, we want to provide a single place for all such people  to collaborate and grow together faster. In short provide a platform for people who help others.
                %br
                %li We want to make Silicon Valley the starting point for such a unique open source initiative.

  .block
    .glow
      .container
        .row
          .span12
            %h1 Methodology
            %br
            %ol
              %li Anyone who has an idea would pitch.
              %br
              %li Members of RailsforCharity will vote on each idea and form teams to work on those ideas.
              %br
              %li The code will be open sourced. Friendly competition among the teams.
              %br
              %li Build a working version 0.1 in 2 weeks
              %br
              %li Deploy on heroku (heroku.com)
              %br
              %li Meet again, get feedback & assimilate new members into the picture
              %br
              %li Iterate continuously & get Beta out in 2 months.
              %br
              %li Spread the word.
              %br
              %li Monitor user engagement.
              %br
              %li Reshuffle teams...
              %br
              %li Keep iterating...

          .span12
            %br
            %h1 Who can contribute?
            %br
            %p Artists, Businessmen, Designers, Developers, Editors, Evangelists, Marketing, Sales, Lawyers, Writers, QA, etc...
            %p In short, anyone who can and want to contribute.

  #how_it_works.block
    .glow
      .container
        = render 'how_it_works'

  #supporters.block
    .glow
      .container
        = render 'supporters'

