.container-fluid
  .row-fluid
    .span12
      .hero-unit
        =image_tag("railsforcharity.png")
        %h1(style= "color:white") Rails for Charity
        %p(style= "color:pink")The fastest and simplest way to organize people for a noble cause
    .span12.item
      .span3.mission
        %h3 Mission
        %br
        %p "To build open source web based applications which help in improving the society."
        %br
      .span3.motive
        %h3 Motive
        %br
        %ol
          %li We want to incubate, foster, develop, mentor and support web based software projects which could potentially have a social impact.
          %br
          %li We want to fix the social problems that surround us through the use of our skills (Technology) and give something back to the society.
          %br
          %li Provide a platform for people to share/pitch their social impacting ideas, get help and be helped for achieving their goals.
          %br
          %li Many people work tirelessly to bring about a change they want, but these efforts are localized and individualistic (person or company) with little collaboration and sharing of knowledge & resources. So, we want to provide a single place for all such people  to collaborate and grow together faster. In short provide a platform for people who help others.
          %br
          %li We want to make Silicon Valley the starting point for such a unique open source initiative.
        %br
      .span3.methodology
        %h3 Methodology
        %br
        %ol
          %li Anyone who has an idea would pitch.
          %br
          %li Members of RalsforCharity will vote on each idea and form teams to work on those ideas.
          %br
          %li The code will be open sourced. Friendly competition among the teams.
          %br
          %li Build a working version 0.1 in 2 weeks
          %br
          %li Deploy on heroku (heroku.com)
          %br
          %li Meet again, get feedback & assimilate new members into the picture
          %br
          %li Iterate continuously & get Beta out in 2 months.
          %br
          %li Spread the word.
          %br
          %li Monitor user engagement.
          %br
          %li Reshuffle teams...
          %br
          %li Keep iterating...
          %br
      .span3.members
        %h3 Members
        %br
        %p Artists, Businessmen, Designers, Developers, Editors, Evangelists, Marketing, Sales, Lawyers, Writers, QA, etc... 
        %p In short, anyone who can and want to contribute.
          
          