.row
  .span12
    %h2.heading
      %span.slash //
      Resources
    %ol
      %li
        Tools we use
      %li
        Rails setup guidelines
      %li
        How to apply for Rubymine's opensource licence
      %li
        How to contribute to open source projects
