.container
  .row-fluid
    %ul.thumbnails
      %li.span4
        .thumbnail
          =image_tag "supporters/no_red_ink.png", :height => '200', :width => '300'
          .caption
            %h3 No Red Ink
            %p noredink.com. NoRedInk.com is a web-based learning platform that helps students improve their grammar and writing skills.

      %li.span4
        .thumbnail
          =image_tag "supporters/heyimagine-carre.jpg", :height => '200', :width => '300'
          .caption
            %h3 Hey Imagine!
            %p www.hey-imagine.com