.row
  .span12
    %h2.heading
      %span.slash //
      Terms and Conditions
    %br
    %ol
      %li
        %p
          Your idea for the project should have a possible positive social impact.
          It should be aimed to help bring about a social change or help any charitable organization.
      %li
        %p
          The project should be open sourced, preferably on railsforcharity's github account at
          =link_to_blank 'https://github.com/railsforcharity', 'https://github.com/railsforcharity'
          so that others can benefit from it.
