:javascript
  $(window).load(function() {
  $('.flexslider').flexslider();
  });

.flexslider
  %ul.slides
    %li
      =image_tag('new_project.png')
    %li
      =image_tag('project_show_top.png')
    %li
      =image_tag('project_show_bottom.png')
