%h1 Members
%br
%ul.thumbnails
  - @users.each do |user|
    %li.span2
      .thumbnail
        - if user.avatar
          -#= link_to image_tag(user.avatar.image_url(:thumb).to_s), user_path(user)
        -else
          = image_tag 'default.png'
        .caption
          %h3= user.name
          -if user.bio
            %p= user.bio