%h3 Contributors
- project.users.each do |user|
  %div(style="display:inline-block; padding:10px")
    - user_presenter = UserPresenter.new(user, self)
    = link_to user_presenter.avatar(size), user_path(user), title: user.name
    %br
    %p(style='text-align:center')
      = link_to user.name.scan(/\w+/).first , user_path(user)