.sidebar
  %h3
    %span.slash //
    Help
  %p
    %br
    %strong Name
    %br
    = t('views.projects.help.name')
    %br
    %br
    %strong Title
    %br
    = t('views.projects.help.title')
    %br
    %br
    %strong Description
    %br
    = t('views.projects.help.description')
