- if current_user && !current_user.voted_for?(project)
  .btn
    =link_to "", vote_project_path(project, type: "up"), method: "post", class: 'icon-thumbs-up'
  .btn.btn-danger
    =link_to "", vote_project_path(project, type: "down"), method: "post", class: 'icon-thumbs-down'
=pluralize project.reputation_value_for(:votes).to_i, "vote"