.row
  .span8
    %h2 Editing project

    %br
    = render :partial => 'form', :locals => { :edit => true }

    = link_to 'Show', @project
    \|
    = link_to 'Back', projects_path
  .span4
    = render :partial => 'projects/help'