.container
  .row-fluid
    %h1 RFC Projects
    - @projects.each do |project|
      %ul.thumbnails
        %li.span4
          .thumbnail
            - if project.avatar
              = link_to image_tag(project.avatar.image_url(:thumb).to_s), project_path(project)
            .caption
              %h3= project.name
              %p= project.title