:javascript
  $(document).ready(function () {
    $(".typeahead").tokenInput("/users.json", {
      minChars: 2,
      hintText: 'Type name or username...',
      theme: 'facebook',
      prePopulate: $('.typeahead').data('load'),
      resultsFormatter: function(item) {
        return "<li>" + "<img src='" + '/assets/avatar.png' + "' title='" + item.name + "' height='25px' width='25px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='name'>" + item.name + "</div></div></li>"
      },
    });
  });

.row-fluid
  .span8
    %h3 Select Collaborators
    %br
    = simple_form_for project_path(@project), :method => :put do |f|
      = f.input :collaborator_tokens, :input_html => { :class => 'typeahead' }, :label => false, data: { load: @project.users }

      .form-actions
        = f.submit 'Save', :class => 'btn btn-primary'
  .span4
    = render :partial => 'projects/settings_help'