//= require bootstrap_and_overrides
//= require select2
//= require token-input-facebook
//= require rfc
//= require font
//= require faq
//= require home
//= require project
//= require authentications
//= require tasks
//= require comments
//= require jquery.ui.core
//= require jquery.ui.theme
//= require dataTables/jquery.dataTables
//= require dataTables/jquery.dataTables.bootstrap
//= require button
//= require pygments
//= require markitup
//= require markitup-markdown