@import "compass";

.home_page {
  .block {
    color: white;
    background: rgb(0, 120, 153);
  }

  .block:nth-child(4n+2) {
    border-top: 1px solid #58a6bc;
    box-shadow: 0 -1px 1000px #555;
  }

  .glow {
    padding: 40px 0;
    background: -moz-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, 900px bottom, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  /* Colors */
  $base-color: #008080;
  @for $i from 1 through 8 {
    .block:nth-child(4n+#{$i}) { background: darken($base-color, $i+2); }
  }

  margin-top: -20px;

  p, li {
    font-size: 16px;
    line-height: 22px;
  }

  .hero {
    .logo_bar {
      width: 80%;
      margin: 0 auto;
    }

    h1 {
      font-size: 80px;
      line-height: 110px;
    }

    p {
      font-size: 24px;
      line-height: 24px;
    }

    .logo, .usp {
      float: left;
    }

    .usp {
      padding-left: 20px;
    }
  }

  #join {
    .thumbnail {
      background: #555;

      p.description {
        height: 150px;
      }

      p {
        font-size: 14px;
        padding: 5px;
      }

      p.sign_up {
        text-align: center;
      }
    }
  }

  #how_it_works, #supporters {
    .thumbnail {
      background: #313131;
    }
  }

  #how_it_works {
    li {
      line-height: 25px;
    }
  }
}

.home_github_fork {
  position: absolute;
  top: 40px;
  right: 0;
  border: 0;
}

.center {
  margin: 0 auto;
}