@import "compass";

.project_content {
  padding: 5px;
  float: left;
  margin: 20px;
  margin-left: 60px;
  min-height: 300px;
  min-width: 300px;
  @include box-shadow(#696969 2px 2px 10px);
}

.search_box {
  text-align: center;
  @include border-radius(5px);
  margin-left: 3%;
}

.tasks {
  @include box-shadow(#ccc 2px 2px 10px);
}

.video {
  height: 360px;
  width: 100%;
  background-color: black;
  line-height: 25em;
  text-align: center;
}

.video_text {
  color: gray;
  vertical-align: middle;
  font-size: 25px;
}

.hours_worked {
  font-size: 30px;
  color: green;
  padding: 10px;
  background-color: #F4F397;
  display: inline-block;
  font-weight: bold;
  border: 1px solid yellow;
  text-align: center;

  @include box-shadow(#ccc 3px 3px 3px);

  sub {
    font-size: 10px;
  }
}
