@import "compass";

$base-color: #008080;

html, body {
  font: 13px/18px 'Open Sans';
  height: 100%;
}

p {
  word-wrap: break-word;
}

body {
  background-color: $base-color;

  .wrap {
    min-height: 100%;
    height: auto !important; /* ie7 fix */
    height: 100%;
    margin: 0 auto 40px;

    .main {
      background-color: #f8f8ff;
      padding: 35px 10px 20px 10px;
      @include border-radius(5px);
    }
  }
}

.sidebar {
  padding: 15px;
  background: #EEE;
  @include border-radius(5px);
}

.slash {
  color: #677E30;
}

.shadow {
  @include box-shadow(skyblue 2px 2px 10px);
}

hr.style-seven {
  height: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0 0 0;
  @include border-radius(20px);
}

hr.style-seven:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 1px 0;
  @include border-radius(20px);
}

/* Hack to get 'Public Profile Url' working */
.input-prepend .add-on,
.input-append input {
  float: left;
}

footer {
  color: #fff;
  background: darken($base-color, 15);
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;

  a {
    color: #fff;
    padding: 5px;

    &:hover {
      background-color: #008080;
      color: #fff;
      text-decoration: none;
      @include border-radius(4px);
      @include box-shadow(black 2px 2px 2px 2px);
    }
  }

  ul {
    list-style-type: none;
    text-align: center;

    li {
      display: inline-table;
      margin-left: 20px;
      font-size: 20px;
    }
  }
}

.inline_label {
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.loader {
  display: none;
  margin-left: 10px;
}

.heading {
  color: #008080;
}