/* Global Style */

		@media all {			
			body { 
				width: 100%; 
				background: url(../img/cloth-bg.jpg) repeat; 
				}
			body, p { 
				font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif; 
				font-weight: 400; 
				font-size: medium; 
				line-height: 1.5em; 
				}
			
			h1, h2, h3, h4, h5, h6 { color: white; }
					#content h1 { 
						font-weight: 400; 
						font-size: 72px; 
						line-height: 150px; 
						}
			
			i { 
				margin-top: 2px;
				margin-right: 2px;
			 	}
			
			a { color: white; font-weight: 600; }
			
			p small { display: block; font-size: small; color: white; line-height: 1em; }
			
			input, textarea { font-size: 14px; padding: 12px; border-radius: 24px; }
			label { display: none; }
			
			.light { font-weight: 400; }
			
			.right { text-align: right; }
			
			#landingPage { display: none; }
			
			.btn { border-radius: 30px; filter: none; }
			
		} 
		
		@media only screen and (max-width: 980px) {
			body {
				overflow: inherit !important;
			}
		}
		
		@media only screen and (max-width: 780px) {
			h1, h2, h3, h4, h5, h6 { color: white; }
					#content h1 { 
						font-weight: 400; 
						font-size: 42px; 
						line-height: 100px; 
						}
			.nomobile { display: none !important; }
		}
		
		@media only screen and (min-width: 980px) {
			#content { visibility: hidden; }
			button {
				min-width: 70px;
				min-height: 70px;
				border-radius: 35px !important;
				float: right;
				margin-top: -40px;
				margin-right: -30px;
				position: relative;
				font-size: 16px !important;
				}
		}
		
		@media only screen and (min-width: 1200px) {
			input#contact_name { margin-right: 10px; }
		}

/* Images */

		img.border { 
			background: #ececec; 
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 -1px 0 #fff, 0 1px 0 #555; 
			border-radius: 165px; 
			}
	
		#home img { margin-top: 50px; }
		
		@media only screen and (max-width: 780px) {
			#home img { display: none; }
		}
/* Content Blocks */

	.block { 
		color: white; 
		background:  rgb(0, 120, 153);
		}
		.block:first-child { border-top: 1px solid #58a6bc; box-shadow: 0 -1px 1000px #555; }
	
	.glow { 
		padding: 40px 0;
		background: -moz-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, 900px bottom, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: radial-gradient(900px bottom, circle cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	 	}
	 
	.globule { 
		float: left; 
		text-align: center; 
		position: relative; 
		}
		.globule > .glob-outline { 
			background: #ececec; 
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 -1px 0 #fff, 0 1px 0 #b4b4b4; 
			position: absolute; 
			z-index: 500; 
			width: 0; 
			height: 0; 
			left: 85px; 
			top: 85px; 
			border-radius: 85px; 
			}
			.globule > .glob-outline > .glob-bg { 
				margin: 5%; 
				width: 90%; 
				height: 90%; 
				position: absolute; 
				z-index: 600; 
				border-radius: 80px; 
				-webkit-transition: background 0.5s ease-in-out;
    		-moz-transition: background 0.5s ease-in-out;
    		-o-transition: background 0.5s ease-in-out; 
    		transition: background 0.5s ease-in-out;
				}
				
/* Globule Sizing */
	@media only screen and (min-width: 980px) {
		.globule, .globule > .glob-outline { max-height: 140px; max-width: 140px; }
	}
	
	@media only screen and (min-width: 1200px) {
		.globule, .globule > .glob-outline { max-height: 170px; max-width: 170px; }
	}

/* Colors */
		.block:nth-child(4n+1), .globule:nth-child(4n+1) > .glob-outline > .glob-bg { background: #007899; }
		.block:nth-child(4n+2), .globule:nth-child(4n+2) > .glob-outline > .glob-bg { background: #990b00; }
		.block:nth-child(4n+3), .globule:nth-child(4n+3) > .glob-outline > .glob-bg { background: #129900; }
		.block:nth-child(4n+4), .globule:nth-child(4n+4) > .glob-outline > .glob-bg { background: #ffcc00; }

/* Twitter Widget */

		#twitter { 
			min-height: 43px; 
			padding-left: 70px; 
			margin: 40px 0 20px; 
			background: url(../img/twitter_white.png) no-repeat center left; 
			float: left; 
			max-width: 825px
			}
			#twitter > ul { 
				list-style-type: none; 
				margin: 0;  
				}
				#twitter > ul > li > a, #twitter > ul > li > a:hover  { 
					display: block; 
					font-size: x-small !important; 
					color: #005580; 
					text-decoration: none; 
					}

/* 'My Work' Carousel */

		@media all {
			.carousel-inner { 
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 -1px 0 #fff, 0 1px 0 #555, 0 1px 0 rgba(0,0,0,0.5); 
				max-width: 670px;
				}
			.carousel-control, .carousel-control:hover { 
				text-align: left;
				color: #990b00;
				line-height: 26px;
				width: 31px;
				padding-left: 9px;  
				background: #e6e6e6;
				border: none; 
				top: auto; 
				left: -75px;
				bottom: -20px; 
				opacity: 1;
				box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 -1px 0 #fff, 0 1px 0 #b4b4b4; 
				-webkit-border-radius: 30px; 
					-moz-border-radius: 30px; 
					border-radius: 30px; 
				-webkit-transition:background .2s ease-in;  
			  	-moz-transition:background .2s ease-in;  
			   	-o-transition:background .2s ease-in;  
			   	transition:background .2s ease-in;
			  filter: none;
			}
			.carousel-control.right { 
				width: 42px; 
				height: 60px; 
				z-index: 100; 
				right: auto; 
				left: -44px; 
				text-align: inherit; 
				font-size: 90px; 
				line-height: 37px; 
				color: #990B00;
				padding-left: 18px; 
				}
			.carousel-control:hover { background: white; }
		}
		
		@media only screen and (max-width: 768px) {
			.carousel-control, .carousel-control:hover { left: -7px; }
			.carousel-control.right, .carousel-control.right:hover { left: 24px; }
		}
		
		@media only screen and (min-width: 1200px) {
			#myCarousel { margin-top: -100px; }
		} 

/* Skills Bars */

		.progress { 
			background: none; 
			box-shadow: none; 
			height: auto; 
			margin: 5px 0 10px; 
			filter: none;
			}
			div.progress a.bar { 
				display: block; 
				padding: 20px; 
				border-radius: 45px; 
				box-shadow: none; 
				background: #fff; 
				color: #129900; 
				line-height: 1px; 
				text-shadow: none; 
				font-weight: 600; 
				filter: none;
				} 
			.progress > .bar:hover { text-decoration: none; }

/* Multi-Color Tag Line */

		h1 > small { display: block; }
			h1 > small > span:nth-child(4n+1), footer p > span:nth-child(4n+1) { color: #007899; }
			h1 > small > span:nth-child(4n+2), footer p > span:nth-child(4n+2) { color: #990b00; }
			h1 > small > span:nth-child(4n+3), footer p > span:nth-child(4n+3) { color: #129900; }
			h1 > small > span:nth-child(4n+4), footer p > span:nth-child(4n+4) { color: #ffcc00; }

/* Footer */
		
		@media all {
			footer { 
			background: url(../img/denim-bg.png) repeat; 
			position: fixed; 
			bottom: 0; 
			z-index: 65000; 
			width: 100%; 
			min-height: 13px; 
			padding: 12px 0; 
			box-shadow: inset 0 3px 10px #000;
			color: #f5f5f5; 
			text-shadow: 0 1px 2px #000; 
			font-weight: 600;
			}
			footer p { 
				line-height: 13px; 
				margin:0; 
				}
		}
		
		@media only screen and (min-width: 980px) {
			footer p.tagLine { display: block; }
		}
		
		@media only screen and (max-width: 980px) {
			footer { padding: 0; }
				footer > .container { 
					width: auto; 
					margin: 0; 
					padding: 5px; 
					}
				footer p.tagLine { float:left !important; }
				footer p.copyright { width: auto; float: right !important; }
		}
/* Navigation */
	/* Landing Page */
	
			@media only screen and (min-width: 980px) {					
				h1.identity { 
					font-size: 33px; 
					line-height: 42px; 
					margin-top: 36px;
					color: #333;
					}
				#landingPage { display: block; }
				#main-nav { visibility: hidden; }
				#main-nav { padding: 25px 0; }
					#main-nav .section_name { 
						font-size: 18px; 
						font-weight: 400; 
						color: #fff; 
						position: relative; 
						z-index: 5000; 
						padding: 59px 0;
						}
					#main-nav .globule:hover .glob-bg {
						background: #444;
					}
					#main-nav a, #main-nav a:hover { text-decoration: none; }
			}
			
			@media only screen and (min-width: 1200px) {
				h1.identity { 
						font-size: 36px; 
						line-height: 42px; 
						margin-top: 50px;
						color: #333;
						}
				#main-nav .section_name { 
						padding: 72px 0; 
						}
			}
			
	/* NavBar */
	
			@media only screen and (min-width: 980px) {
				div.navbar { display: none; }
			}
	
			@media only screen and (max-width: 980px) {
				.navbar a.brand { color: #444; }
				.navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover { background: rgba(0, 0, 0, 0.25); }
				.navbar .nav > li > a { text-shadow: none; }
					.navbar .nav > li:nth-child(4n+1) > a { color: #007899; }
					.navbar .nav > li:nth-child(4n+2) > a { color: #990b00; }
					.navbar .nav > li:nth-child(4n+3) > a { color: #129900; }
					.navbar .nav > li:nth-child(4n+4) > a { color: #ffcc00; }
					
				.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li > a:hover { color: white }
				
				.navbar .btn-navbar { background: rgba(0, 0, 0, 0.1); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 #fff,inset 0 1px 0 #fff; }
					.navbar .btn-navbar .icon-bar { background: #666; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
				
				.navbar-fixed-top { 
					background: black; 
					position: fixed; 
					}
				.navbar-fixed-top .navbar-inner { 
					background: url(../img/cloth-bg.jpg) repeat; 
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6),inset 0 -1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, .75); 
					filter: none;
					}
				.navbar-fixed-top .navbar-inner { 
					-webkit-border-radius: 4px;
					-webkit-border-bottom-right-radius: 0;
					-webkit-border-bottom-left-radius: 0;
					-moz-border-radius: 4px;
					-moz-border-radius-bottomright: 0;
					-moz-border-radius-bottomleft: 0;
					border-radius: 4px;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
					}
			}