%p
  Welcome #{@resource.email}!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my Rails for Charity account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%br
%br
Thanks!
%br
Rails for Charity
