%table{:bgcolor => "#EDEEF1", :border => "0", :cellpadding => "15", :cellspacing => "0", :width => "100%"}
  %tbody
    %tr
      %td{:style => "background:#008080"}
        %a(href='http://railsforcharity.org' target="_blank" title="RFC - Open Source Web Based Applications" ){:style => 'font-size: 20px; font-family: Lucida Handwriting, Georgia, serif; text-decoration:none'}
          %div(style= 'line-height:30px; vertical-align:middle')
            %span(style='color:#FF0000') Rails
            %span(style='color:white') for
            %span(style='color:lightgreen') Charity