%p
  Task #{@task.name}
  -#Description:
  -#Project:
  -#Creator:
  -#Type:
  -#Estimated Time:
  -#Category:

  %br
  %br
  %input(type='button' class='btn-small btn-table btn-assign') Let me do it!