!!!
%html
  = render :partial => 'layouts/head'
  %body
    %header
      .navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
    .wrap
      .container
        = render 'layouts/messages'
      .container.main
        =yield
    = render 'layouts/footer'

